/* global */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;

    font-size: 65;
    font-weight: 700;
    color: #1F1F1F;
}

.panda_caro {
    background-color: #FEEAE9;
}

.slider_img {
    margin-left: 140px;
}

.cat-1 {
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}

.cat-2 {
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}

.cat-3 {
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}